.quickActionsOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  backdrop-filter: blur(8px);
  transition: 0.3s;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 20px;
  height: 20px;
  color: black;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.quickActions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  min-height: 60vh;
  gap: 10px;
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 2009;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  border-right: 1px solid #000;
}

.addressContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.address {
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #000;
  text-align: left;
}

.address > h4 {
  display: none;
}

.address_bold_p {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-right: 10px;
}

.copyIcon {
  width: 20px;
  height: 20px;
  color: black;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 2px;
  margin-left: 10px;
}

.copyIconCheck {
  width: 20px;
  height: 20px;
  color: green;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.emailContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.email {
  font-size: 16px;
  color: #000;
  display: flex;
  align-items: center;
}

.email > span {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-right: 10px;
}

.email > h4 {
  display: none;
}

.balanceContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.balance {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  display: flex;
  align-items: center;
  gap: 20px;
}

.balance p {
  margin-top: 15px;
}

.balance img {
  width: 20px;
}

.balanceContainer > h4 {
  display: none;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

.displayOptions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin-top: 50px; */
  margin-bottom: 40px;
  height: 16px;
}

.displayOptionsText {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.depositContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
}

.depositContainer > p {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-bottom: 0;
}

.depositButton {
  width: 100px;
  height: 40px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.transferContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}

.transferContainer > p {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-bottom: 0;
}

.transferInputRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 246px;
  margin-top: 5px;
  font-size: 16px;
}

.transferInputRow > h4 {
  display: none;
}

.transferInputRow > span {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin-right: 2px;
}

.transferInputTokenRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 16px;
  gap: 20px;
  height: 16px;
  margin-top: 30px;
}

.transferInputTokenRow p {
  font-size: 14px;
  display: flex;
  align-items: center;  
  flex-direction: row;
}

.transferInput {
  width: 100%;
  height: 40px;
  background: #eaeaea;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 300;
  color: #000;
  margin-bottom: 5px;
  margin-right: 2px;
}

.tokenSelect select {
  background-color: #e5eef9bb;
  border: none;
  font-size: 1rem;
  height: 40px;
  padding: 0 10px;
  border-radius: 7px;
  color: #3b3b3b;
  outline: none;
  box-sizing: border-box;
  margin: 10px 0;
  width: 100%;
  font-family: "Manrope", sans-serif;
}

.transferInputSplit {
  width: 123px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-bottom: 5px;
}

.transferMax {
  width: fit-content;
  height: fit-content;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 2px;
  padding: 5px;
}

.transferButton {
  width: 100px;
  height: 40px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.transferDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
  width: 100%;
  margin-top: 15px;
}

.detailRow {
  width: 100%;
  font-size: 16px;
  height: 18px;
}

.detailRow > span {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin-right: 2px;
}

.detailRowAddress {
  width: 100%;
  font-size: 12px;
  height: 18px;
}

.detailRowAddress > span {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin-right: 2px;
}

.transferDetails > h4 {
  display: none;
}

.balanceRefresh {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5px;
  cursor: pointer;
  /* no text wrap, display in straight line */
  white-space: nowrap;
  margin-bottom: 5px;
}

.balanceRefresh > p {
  font-size: 12px;
  font-weight: 600;
  width: 120px;
  color: #000;
  margin-bottom: 0;
  margin-right: 2px;
}

/* media screen for mobile */
@media screen and (max-width: 768px){
  .quickActionsOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }

  .closeButton {
    position: absolute;
    top: 2px;
    right: 20px;
    width: 20px;
    height: 20px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
  }
  .quickActions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    align-items: center;
    height: 100%;
    width: 50%;
    border-right: none;
  }

  .addressContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .address {
    font-size: 14px;

    /* wrap the text if it overflows */
    text-overflow: ellipsis;
  }

  .address > span {
    display: none;
  }

  .address > h4 {
    display: none;
  }

  .copyIcon {
    /* align to top of parent div */
    align-self: flex-start;
  }

  .copyIconCheck {
    align-self: flex-start;
  }

  .emailContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .email {
    font-size: 12px;
    font-weight: 200;
    color: #000;
  }

  .email > h4 {
    display: none;
  }

  .email > span {
    display: none;
  }

  .balanceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .balanceContainer > h4 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #000;
  }

  .balance {
    font-size: 14px;
    font-weight: 800;
    color: #000;
    gap: 2px;
  }

  .rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    margin-top: 20px;
  }

  .displayOptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin-top: 50px; */
    margin-bottom: 20px;
  }

  .displayOptionsText {
    font-size: 10px;
    font-weight: 600;
    color: #000;
  }

  .depositContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
  }

  .depositContainer > p {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 0;
  }

  .depositButton {
    width: 100px;
    height: 40px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .transferContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .transferContainer > p {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 0;
  }

  .transferInputRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    font-size: 14px;
  }

  .transferInputRow > h4 {
    font-size: 12px;
    font-weight: 600;
    color: #000;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .transferInputRow > span {
    display: none;
  }

  .transferInputTokenRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 12px;
    height: 14px;
  }

  .transferInput {
    width: 150px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #000;
    margin-bottom: 5px;
    margin-right: 2px;
    overflow: scroll;
  }

  .transferInputSplit {
    width: 75px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 5px;
  }

  .transferMax {
    width: fit-content;
    height: fit-content;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-right: 2px;
    padding: 5px;
  }

  .transferButton {
    width: 100px;
    height: 30px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .transferDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
  }

  .detailRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 12px;
    height: 8px;
  }

  .detailRow > span {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    margin-right: 2px;
  }

  .detailRowAddress {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    overflow: scroll;
    font-size: 12px;
    height: 18px;
  }

  .detailRowAddress > span {
    display: none;
  }

  .transferDetails > h4 {
    display: none;
  }
}
